#header
  padding: 1em;
  background-color: bgColor2
  color: ricardoBlue;
  border-bottom: solid 3px ricardoOrange;

  img
    width: 13em;
    height: auto;

  .user-btn
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9em;
