<md-card class="open-invoices__container">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Open invoices</span>
    </md-card-title-text>
  </md-card-title>

  <md-content flex layout="row" layout-align="center center">

    <h2 ng-if="$root.payed">You don't have any open invoice!</h2>
    <table ng-if="!$root.payed">
      <tr class="open-invoices__titles">
        <th>Date</th>
        <th>Due date</th>
        <th>Reference number</th>
        <th>Total to pay</th>
      </tr>
      <tr ng-repeat="item in openInv">
        <td>{{item.date | date:'yyyy-MM-dd'}}</td>
        <td>{{item.payment_due_date| date:'yyyy-MM-dd'}}</td>
        <td>{{item.id}}</td>
        <td>{{item.balance | currency: "CHF "}}</td>
      </tr>
    </table>

  </md-content>

</md-card>
