<md-card class="transactions__container">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Latest transactions</span>
    </md-card-title-text>
  </md-card-title>

  <md-content flex layout="row" layout-align="center center">
    <table class="card__table">
      <tr class="transactions__titles">
        <th>Date</th>
        <th>Type</th>
        <th>Reference number</th>
        <th>Total payed</th>
      </tr>
      <tr ng-repeat="item in trans">
        <td>{{item.date | date:'yyyy-MM-dd'}}</td>
        <td>{{item.type}}</td>
        <td>{{item.id}}</td>
        <td>{{item.total | currency: "CHF "}}</td>
      </tr>
    </table>

  </md-content>

</md-card>
