<md-card class="transactions__container">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Latest transactions</span>
    </md-card-title-text>
  </md-card-title>

  <md-content>
      <md-list>
        <div flex layout="row" layout-align="space-around center" class="transactions__titles">
          <h3>Date</h3>
          <h3>Type</h3>
          <h3>Ref Number</h3>
          <h3>Total payed</h3>
        </div>
        <md-list-item ng-repeat="item in tr.transactions">
          <div flex layout="row" layout-align="space-around center">
            <h3>{{item.date | date:'yyyy-MM-dd'}}</h3>
            <h3>{{item.type}}</h3>
            <h3>{{item.id}}</h3>
            <h3>{{item.total}}</h3>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>

</md-card>
